body {
    background-color: #e60a0a;
    color: #000000;
}
.duvida {
    background-color: #ff0000;
    color: #000000;
}
.sugestao {
    background-color: #00db04;
    color: #000000;
}
.outros {
    background-color: #ca0086;
    color: #FFFFFF;
}